/* Press Start 2P Font */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Press Start 2P", system-ui;
    font-style: normal;
}

body {
    min-height: 100vh;
    color: #fff;
}

header,
main,
footer {
    padding: 1rem 2rem;
    display: flex;
    gap: 1rem;
}

header {
    justify-content: space-between;
    align-items: center;
    line-height: 200%;
}

button {
    padding: 10px 16px;
    background-color: white;
    font-size: 1.3rem;
    color: rgb(51, 1, 187);
    border: none;
    cursor: pointer;
    margin: 0 auto auto;
}

select {
    padding: 10px 5px;
    background-color: transparent;
    color: white;
    border: 3px solid white;
    outline: none;
}

option {
    padding: 1px 16px;
    background-color: #591BC5;
    color: white;
}

input {
    background-color: transparent;
    padding: 7px;
    border: 3px solid white;
    margin: 0 auto 0;
    border-radius: 0px;
    text-align: center;
    font-size: 1.3rem;
    color: #fff;
    outline: none;
}

main {
    min-height: 40vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#secret-number {
    margin: 1rem;
    padding: 1rem 0;
    width: 120px;
    text-align: center;
    background-color: white;
    font-size: 2rem;
    color: rgb(51, 1, 187);
    overflow: visible;
    position: relative;
}

#secret-number::after {
    content: '';
    position: absolute;
    top: 50%;
    left: -50vw;
    width: 120vw;
    height: 12px;
    background-color: white;
    transform: translateY(-50%);
    z-index: -9999;
}

#message {
    margin: 0 auto 0;
}

footer {
    flex-direction: column;
    height: 35vh;
}

.bg-gradient {
    background: linear-gradient(132deg, #FC415A, #591BC5, #212335);
    background-size: 400% 400%;
    animation: bgGradientAnimation 15s ease infinite;
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.warning {
    color: #fcd600;
}

.victory {
    animation-name: winAnimation;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

.victory button,
.victory #secret-number {
    color: rgb(28, 180, 28);
}

.gameover {
    animation-name: gameoverAnimation;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

.gameover button,
.gameover #secret-number {
    color: rgb(216, 46, 46);
}

.shake {
    animation: shake 0.4s ease-in-out;
}

@keyframes blinkAnimation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes winAnimation {
    10% {
        background-color: rgb(28, 180, 28);
    }

    40% {
        background-color: rgb(76, 31, 201);
    }

    60% {
        background-color: rgb(28, 180, 28);
    }

    100% {
        background-color: rgb(28, 180, 28);
    }
}

@keyframes gameoverAnimation {
    10% {
        background-color: rgb(216, 46, 46);
    }

    40% {
        background-color: rgb(76, 31, 201);
    }

    60% {
        background-color: rgb(216, 46, 46);
    }

    100% {
        background-color: rgb(216, 46, 46);
    }
}

@keyframes shake {

    0%,
    100% {
        transform: translateX(0);
    }

    20%,
    60% {
        transform: translateX(-10px);
    }

    40%,
    80% {
        transform: translateX(10px);
    }
}

@keyframes bgGradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}